In [1]:
import pandas as pd

ns_df = pd.read_csv('../data/namsan_04_2021.csv',dtype={'ISBN': str, '세트 ISBN': str, '주제분류번호': str})
ns_df.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자,Unnamed: 13
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19,NaN

In [2]:
# loc << 인덱스 열위치, iloc << 인덱스의 위치
ns_book = ns_df.loc[:,'번호':'등록일자']
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
selected_columns = ns_df.columns != 'Unnamed: 13'
selected_columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False])

In [4]:
type(selected_columns)

numpy.ndarray

In [5]:
ns_book = ns_df.loc[:, selected_columns]
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [6]:
ns_book = ns_df.drop(['부가기호', 'Unnamed: 13'], axis=1)
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,NaN,1,0,2021-03-19

In [7]:
ns_book.drop('주제분류번호', axis=1, inplace=True)
ns_book.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,1,0,2021-03-19

In [8]:
# DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
# how='any' NaN이 하나라도 있으면 삭제, how='all' 모든 값이 NaN이라면 삭제
ns_dropna = ns_df.dropna(axis=1, how='any')
ns_dropna.head()

   번호           ISBN  도서권수  대출건수        등록일자
0   1  9788937444319     1     0  2021-03-19
1   2  9791190123969     1     0  2021-03-19
2   3  9788968332982     1     0  2021-03-19
3   4  9788970759906     1     0  2021-03-19
4   5  9788934990833     1     0  2021-03-19

In [9]:
# DataFrame.duplicated(subset=None, keep='first')
# duplicated 메서드는 중복되는 행을 확인하는 메서드입니다.
# 행의 모든 요소가 동일한 행이 이미 존재할경우 해당 행은 True로 반환됩니다.
# https://wikidocs.net/154787

print(sum(ns_book.duplicated()))
print(ns_book.duplicated())

0
0         False
1         False
2         False
3         False
4         False
          ...
401677    False
401678    False
401679    False
401680    False
401681    False
Length: 401682, dtype: bool

In [10]:
print(ns_book.columns)
print(len(ns_book.columns))

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '권', '도서권수',
       '대출건수', '등록일자'],
      dtype='object')
11

In [11]:
# 행의 모든 요소가 동일한 행이 이미 존재할경우 해당 행은 True로 반환됩니다.
sum(ns_book.duplicated(subset=['도서명', '저자', 'ISBN']))

22096

In [12]:
# subset : 특정 열만을 대상으로 할 수 있습니다. list의 사용도 가능합니다.
# keep : {first : 위부터 검사 / last : 아래부터 검사, False : 중복을 고려 안하고 무조건 중복이면 False} 검사 순서를 정합니다. 

dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN'], keep=False)
ns_book3 = ns_book[dup_rows]
ns_book3.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,도서권수,대출건수,등록일자
109,110,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129815,9788970129808,1,1,0,2021-03-12
110,111,파친코,이민진 지음 ;이미정 옮김,문학사상,2018,9788970129822,9788970129808,2,1,0,2021-03-12
111,112,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,NaN,1,0,2021-03-12
112,113,보건교사 안은영 :정세랑 장편소설,지은이: 정세랑,민음사,2021,9788937479953,NaN,NaN,1,1,2021-03-12
113,114,스토너,존 윌리엄스 지음 ;김승욱 옮김,RHK(알에이치코리아),2021,9788925538297,NaN,NaN,1,0,2021-03-12

```python
DataFrame.groupby(by=None, axis=0, level=None, as_index=True,    
                   sort=True, group_keys=True, squeeze=NoDefault.no_default,    
                   observed=False, dropna=True)
```

by : 그룹화할 내용입니다. 함수, 축, 리스트 등등이 올 수 있습니다.

In [13]:
count_df = ns_book[['도서명','저자','ISBN','권','대출건수']]
# NaN 행 삭제 안하기, 추가 메소드가 없다면 DataFrameGroupBy 오브젝트가 생성이 됩니다.
group_df = count_df.groupby(by=['도서명','저자','ISBN','권'], dropna=False)
type(group_df)

pandas.core.groupby.generic.DataFrameGroupBy

In [14]:
group_df.head()

                          도서명                저자           ISBN    권  대출건수
0                     인공지능과 흙            김동훈 지음  9788937444319  NaN     0
1                가짜 행복 권하는 사회            김태형 지음  9791190123969  NaN     0
2       나도 한 문장 잘 쓰면 바랄 게 없겠네            김선영 지음  9788968332982  NaN     0
3                     예루살렘 해변  이도 게펜 지음, 임재희 옮김  9788970759906  NaN     0
4       김성곤의 중국한시기행 : 장강·황하 편            김성곤 지음  9788934990833  NaN     0
...                       ...               ...            ...  ...   ...
401677                韓國現代詩大系            채만묵 編著  9788977352971    3     0
401678                  뉴 웨이브        제임스 모나코 지음  9788985367448    2     0
401679           (최인훈 장편소설)화두            최인훈 지음  9788937401596    2     0
401680           독일 문학과 세계 문학            吳漢鎭 編著  9788947700368    3     0
401681             참으로 소중한 생각            김일상 지음  9788970610092    1     0

[401546 rows x 5 columns]

In [15]:
print(sum(count_df['저자']=='김상현 지음'))
test_df = count_df.loc[ns_df['저자']=='김상현 지음']
test_df

27

,도서명,저자,ISBN,권,대출건수
1766,"인공지능, 무엇이 문제일까?",김상현 지음,9791163632375,NaN,1
13675,내가 죽으면 장례식에 누가 와줄까 (너나들이 리커버 에디션),김상현 지음,9791188469468,NaN,8
27580,내가 죽으면 장례식에 누가 와줄까,김상현 지음,9791188469321,NaN,8
28358,내가 죽으면 장례식에 누가 와줄까(독치1),김상현 지음,9791188469321,NaN,4
37532,"나라서 행복해(인문1, 독치1)",김상현 지음,9788965707172,NaN,4
38312,"나라서 행복해(인문1, 독치1)",김상현 지음,9788965707172,NaN,3
44154,대한민국 소방관으로 산다는 것 :세상이 멎는 순간 주어진 마지막 기회,김상현 지음,9791196447106,NaN,3
50959,칸트 미학과 미적 합리성,김상현 지음,9791155502792,NaN,2
89044,고스트 에이전트=The Ghost Agent :김상현 장편소설,김상현 지음,9788963713045,NaN,11
106575,러시아의 전통 혼례 문화와 민속,김상현 지음,9791155500903,NaN,3
118269,(재미있는) 피부이야기 =The skin story,김상현 지음,9788960694187,NaN,15
120405,인터넷의 거품을 걷어라,김상현 지음,9788983941282,NaN,1
196446,(꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기,김상현 지음,9788955025637,NaN,38
197747,킬러에게 키스를 :김상현 장편소설,김상현 지음,9788963710174,NaN,27
204694,하이어드 =Hired,김상현 지음,9788952758668,4,11
204695,하이어드 =Hired,김상현 지음,9788952758651,3,15
207188,하이어드 =Hired,김상현 지음,9788952758644,2,21
207189,하이어드 =Hired,김상현 지음,9788952758637,1,24
220848,소비에트 러시아의 민속과 사회이야기,김상현 지음,9788956387307,NaN,2
276342,대무신왕기:김상현 장편소설,김상현 지음,9788925508399,2,35
276343,대무신왕기:김상현 장편소설,김상현 지음,9788925508382,1,34
287162,영어로 논문쓰기=(The)Essential guide to writing Engli...,김상현 지음,9788960001503,NaN,31
307143,(소설)정약용 살인사건,김상현 지음,9788959864706,NaN,74
314072,신라의 사상과 문화,김상현 지음,9788931204896,NaN,4
358312,영어로 논문쓰기=(The)essential guide to writing Engli...,김상현 지음,9788982203688,NaN,11
358389,영어로 논문쓰기=The essential guide to writing Englis...,김상현 지음,9788980680238,NaN,6
392908,한국의 茶詩,김상현 지음,9788970094342,NaN,0

In [16]:
test_group_df = test_df.groupby(by=['도서명','저자','ISBN','권'], dropna=False)
test_group_df

In [17]:
# 권 << 1권 2권 3권 시리즈 뜻하는거
#  그룹화 << by=['도서명','저자','ISBN','권']를 하나의 그룹으로 묶음
#  하나라도 다르면 다른 그룹
test_loan_count = test_group_df.sum()
test_loan_count

                                                                             대출건수
도서명                                                저자     ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기              김상현 지음 9788955025637 NaN    38
(소설)정약용 살인사건                                       김상현 지음 9788959864706 NaN    74
(재미있는) 피부이야기 =The skin story                       김상현 지음 9788960694187 NaN    15
고스트 에이전트=The Ghost Agent :김상현 장편소설                 김상현 지음 9788963713045 NaN    11
나라서 행복해(인문1, 독치1)                                  김상현 지음 9788965707172 NaN     7
내가 죽으면 장례식에 누가 와줄까                                 김상현 지음 9791188469321 NaN     8
내가 죽으면 장례식에 누가 와줄까 (너나들이 리커버 에디션)                  김상현 지음 9791188469468 NaN     8
내가 죽으면 장례식에 누가 와줄까(독치1)                            김상현 지음 9791188469321 NaN     4
대무신왕기:김상현 장편소설                                     김상현 지음 9788925508382 1      34
                                                          9788925508399 2      35
대한민국 소방관으로 산다는 것 :세상이 멎는 순간 주어진 마지막 기회             김상현 지음 9791196447106 NaN     3
러시아의 전통 혼례 문화와 민속                                  김상현 지음 9791155500903 NaN     3
소비에트 러시아의 민속과 사회이야기                                김상현 지음 9788956387307 NaN     2
신라의 사상과 문화                                         김상현 지음 9788931204896 NaN     4
영어로 논문쓰기=(The)Essential guide to writing Englis... 김상현 지음 9788960001503 NaN    31
영어로 논문쓰기=(The)essential guide to writing Englis... 김상현 지음 9788982203688 NaN    11
영어로 논문쓰기=The essential guide to writing English... 김상현 지음 9788980680238 NaN     6
인공지능, 무엇이 문제일까?                                    김상현 지음 9791163632375 NaN     1
인터넷의 거품을 걷어라                                       김상현 지음 9788983941282 NaN     1
칸트 미학과 미적 합리성                                      김상현 지음 9791155502792 NaN     2
킬러에게 키스를 :김상현 장편소설                                 김상현 지음 9788963710174 NaN    27
하이어드 =Hired                                        김상현 지음 9788952758637 1      24
                                                          9788952758644 2      21
                                                          9788952758651 3      15
                                                          9788952758668 4      11
한국의 茶詩                                             김상현 지음 9788970094342 NaN     0

In [18]:
loan_count = group_df.sum()
loan_count

                                                                                            대출건수
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN     3
 ,에게                                            이기린(이진희)                 9791196137014 NaN     0
...                                                                                          ...
NaN                                             히라야마 쯔요시 외 5인            9788997924318 NaN     0
                                                ？德峰(Yang Defeng)         9788960716957 NaN     0
                                                NaN                      9788971990155 NaN     2
                                                                         9788972803997 NaN     0
                                                                         9788973561537 NaN     0

[384591 rows x 1 columns]

In [19]:
# 중복되는 것을 한개만 남기기
dup_rows = ns_book.duplicated(subset=['도서명', '저자', 'ISBN','권'])
unique_rows = ~dup_rows
ns_book3 = ns_book[unique_rows].copy()
ns_book3

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,권,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021,9788937444319,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021,9791190123969,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021,9788968332982,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021,9788970759906,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021,9788934990833,NaN,NaN,1,0,2021-03-19
...,...,...,...,...,...,...,...,...,...,...,...
401673,401674,소설의 사회사 비교론,조동일 지음,지식산업사,2001,9788942340262,9788942300365,3,1,0,1970-01-01
401676,401677,큰오빠,박정근 지음,우리문학사,1998,9788974231323,9788974231309,2,2,0,1970-01-01
401677,401678,韓國現代詩大系,채만묵 編著,한국문화사,1996,9788977352971,9788977352988,3,1,0,1970-01-01
401678,401679,뉴 웨이브,제임스 모나코 지음,한나래,1996,9788985367448,9788985367424,2,1,0,1970-01-01
401680,401681,독일 문학과 세계 문학,吳漢鎭 編著,벽호,1995,9788947700368,9788947700405,3,2,0,1970-01-01

In [20]:
sum(ns_book3.duplicated(subset=['도서명','저자','ISBN','권']))

0

```python
DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
```

In [21]:
# set_index메서드는 기존의 열을 인덱스로 설정하는 메서드입니다.
ns_book3.set_index(['도서명','저자','ISBN','권'], inplace=True)
ns_book3.head()

,,,,번호,출판사,발행년도,세트 ISBN,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,
인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,1,0,2021-03-19
가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,1,0,2021-03-19
나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,1,0,2021-03-19
예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,1,0,2021-03-19
김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,1,0,2021-03-19

In [22]:
loan_count

                                                                                            대출건수
도서명                                             저자                       ISBN          권
 (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기           김상현 지음                   9788955025637 NaN    38
 (맨처음 배우는) 세상의 직업                               엘레오노라 바르소티 글 ·그림 ;김태은 옮김 9788992924146 NaN    10
 (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편  JD Kim 지음                9788993466089 NaN     4
 (즉석에서 바로바로 활용하는) 일상생활 베트남어 첫걸음                 FL4U컨텐츠 지음               9788971728000 NaN     3
 ,에게                                            이기린(이진희)                 9791196137014 NaN     0
...                                                                                          ...
NaN                                             히라야마 쯔요시 외 5인            9788997924318 NaN     0
                                                ？德峰(Yang Defeng)         9788960716957 NaN     0
                                                NaN                      9788971990155 NaN     2
                                                                         9788972803997 NaN     0
                                                                         9788973561537 NaN     0

[384591 rows x 1 columns]

In [23]:
# 인덱스로 검색하기
ns_book3.loc[('인공지능과 흙')]

                          번호  출판사  발행년도 세트 ISBN  도서권수  대출건수        등록일자
저자     ISBN          권
김동훈 지음 9788937444319 NaN   1  민음사  2021     NaN     1     0  2021-03-19

In [24]:
# 중복되는 것이  한개만 나옴
ns_book3[ns_book3.index.get_level_values('ISBN') == '9788965707172']

,,,,번호,출판사,발행년도,세트 ISBN,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,
"나라서 행복해(인문1, 독치1)",김상현 지음,9788965707172,NaN,37533,시드앤피드,2018,NaN,1,4,2019-03-05

In [25]:
# 중복되는 것에서 확인 가능
loan_count[loan_count.index.get_level_values('ISBN') == '9788965707172']

                                            대출건수
도서명               저자     ISBN          권
나라서 행복해(인문1, 독치1) 김상현 지음 9788965707172 NaN     7

In [26]:
ns_book3.update(loan_count)
ns_book3.head()

C:\Users\wjm25\AppData\Local\Temp\ipykernel_9344\3051281402.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  ns_book3.update(loan_count)

,,,,번호,출판사,발행년도,세트 ISBN,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,
인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,1,0,2021-03-19
가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,1,0,2021-03-19
나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,1,0,2021-03-19
예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,1,0,2021-03-19
김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,1,0,2021-03-19

In [ ]:
# 7권으로 업데이트가 된것으로 확인 가능
ns_book3[ns_book3.index.get_level_values('ISBN') == '9788965707172']

,,,,번호,출판사,발행년도,세트 ISBN,도서권수,대출건수,등록일자
도서명,저자,ISBN,권,,,,,,,
"나라서 행복해(인문1, 독치1)",김상현 지음,9788965707172,NaN,37533,시드앤피드,2018,NaN,1,7,2019-03-05

In [28]:
ns_book4 = ns_book3.reset_index()
ns_book4.head()

,도서명,저자,ISBN,권,번호,출판사,발행년도,세트 ISBN,도서권수,대출건수,등록일자
0,인공지능과 흙,김동훈 지음,9788937444319,NaN,1,민음사,2021,NaN,1,0,2021-03-19
1,가짜 행복 권하는 사회,김태형 지음,9791190123969,NaN,2,갈매나무,2021,NaN,1,0,2021-03-19
2,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,9788968332982,NaN,3,블랙피쉬,2021,NaN,1,0,2021-03-19
3,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",9788970759906,NaN,4,문학세계사,2021,NaN,1,0,2021-03-19
4,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,9788934990833,NaN,5,김영사,2021,NaN,1,0,2021-03-19

In [29]:
print(sum(ns_book['대출건수']>100))
print(sum(ns_book4['대출건수']>100))

2311
2550

In [30]:
# 열의 순서가 데이터를 다루면서 섞임
print(ns_book.columns)
print(ns_book4.columns)

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '권', '도서권수',
       '대출건수', '등록일자'],
      dtype='object')
Index(['도서명', '저자', 'ISBN', '권', '번호', '출판사', '발행년도', '세트 ISBN', '도서권수',
       '대출건수', '등록일자'],
      dtype='object')

In [31]:
# 열을 다시 정상적으로 바꾸고 저장
ns_book4 = ns_book4[ns_book.columns]
print(ns_book4.columns)
ns_book4.to_csv('../data/ns_book4.csv', index=False)

Index(['번호', '도서명', '저자', '출판사', '발행년도', 'ISBN', '세트 ISBN', '권', '도서권수',
       '대출건수', '등록일자'],
      dtype='object')